## Important note: For MAC virtual environment (venv) is in bin
## Important note: For Windows virtual environment (venv) is in Scripts
## command to activate Virtual env - > .\venv01\Scripts\activate
## pypdf package helps to read a pdf files
## sentence-transformers package provided by Hugging face